global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend ledger_front
    bind *:80
    default_backend ledger_back

backend ledger_back
    balance roundrobin
    option httpchk GET /
    http-response set-header X-Served-By %[srv_name]
    server web01 <WEB01_IP>:80 check
    server web02 <WEB02_IP>:80 check
